*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px; /*1 rem = 16px */
    background-color: #141414;
}

body{
    font-family: "Inter";
    font-weight: 700;
}


header{
    position: relative;
    background-image: url(assets/coding.gif);
    height: 55rem;
    background-repeat: no-repeat;
    background-size: cover;
}

header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.72);
    z-index: 1;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.625rem; /* 10px */
    position: relative;
    z-index: 2;
}


#nav{
    display: flex;
    gap: 1.2rem;
    list-style: none;
    margin: 2.5rem;
    font-size: 1.2rem;
}

/* acaba indo pra todos os próximos links que tiverem*/
a{
    text-decoration: none;
    color: white;
}

#blog-title{
    padding-left: 4rem;
    margin: 3.12rem;
    color: white;
}

#final{
    background-image: url(https://i.pinimg.com/564x/b5/e8/9a/b5e89ac86879eb21599a6bc7aaa7cf17.jpg);
}

footer {
    height: 25rem;
    background: #000F16;
    display: flex;
    padding: 20px; /* Ajuste os valores de padding */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem
}

.circle {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;  /* Centraliza horizontalmente */
    position: relative;
    background-size: cover;
    margin-top: 0.5rem;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Faz a imagem preencher o círculo */
}

/* textos footer*/
#final{
    color: white;
}

.title-final{
    font-size: 1.2rem;
}

.sub-final{
    font-weight: 400;
}